# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/

# Django
*.log
*.pot
*.py[cod]
db.sqlite3
*.sqlite3
.DS_Store

# Environment variables
.env

# Static and media files
staticfiles/
media/
