<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Budget App</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
    <header>
        <h1>Budget App</h1>
        {% if user.is_authenticated %}
            <nav>
                <a href='{% url "dashboard" %}'>Home</a>
                <a href='{% url "budgets" %}'>Budgets</a>
                <a href='{% url "goals" %}'>Goals</a>
                <a href='{% url "transactions" %}'>Transaction History</a>
                <a href='{% url "logout" %}'>Logout</a>
            </nav>
        {% else %}
            <nav>
                <a href='{% url "login" %}'>Login</a>
                <a href='{% url "register" %}'>Register</a>
            </nav>
        {% endif %}
    </header>
    <main>
        {% block content%}{% endblock %}
    </main>
</body>

</html>