{% extends "base.html" %}

{% block content %}
<h1>Welcome, {{ user.username }}!</h1>

    <section>
        <h2>Your Goals</h2>
        {% if user_goals %}
            <ul>
                {% for goal in user_goals %}
                    <li>{{ goal.name }}: 0 z {{ goal.target_amount }} | 0.00%</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No budget goals set yet.</p>
        {% endif %}
        <a href="{% url 'add_goal' %}">Create New Goal</a>
    </section>

    <section>
        <h2>Your Budgets</h2>
        {% if budgets %}
            <ul>
                {% for budget in budgets %}
                    <li>{{ budget.name }} - {{ budget.date }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No budgets created yet.</p>
        {% endif %}
        <a href="#">Create New Budget</a>
    </section>
{% endblock %}